################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ActivitateStructuriDate_Apetroaei_Catalina_2025/Laborator01.c
